.container {
  display: flex; /* Use flexbox to arrange divs */
}

.left-div, .right-div {
  width: 50%; /* Each div takes up half of the container's width */
  padding: 10px; /* Optional: Add padding for spacing */
}

#button{
  margin-top: 10px;
}

.right-div{
  background-color: rgb(153, 255, 195);
  width: 300px;
}

.right2-div{
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

.left-div{
  background-color: aquamarine;
  width: 300px;
  height: fit-content;
}

.gap1-div{
  width: 10px;
}

